<div class="background">
<div class="container">
    <h1>Image Generator Website</h1>
    <button (click)="getRandomDog()" [disabled]="loading">Get Random Dog Image</button>
    <div class="image-container" *ngIf="dogImageUrl || loading">
        <div *ngIf="loading" class="spinner"></div>
        <img *ngIf="dogImageUrl; else noImage" [src]="dogImageUrl"  alt="Image Not Found" />
        <ng-template #noImage>
          <div class="no-image">
            <h3>No Image Found</h3>
            <h3>😢</h3>
            <h3>Click Again</h3>
          </div>
        </ng-template>
    </div>
</div>
</div>

<!-- <div>
    <button (click)="getRandomDog()" [disabled]="loading">Get Dog Image</button>

    <div class="image-container" *ngIf="dogImageUrl || loading">
      <div *ngIf="loading" class="spinner"></div>
      <img *ngIf="dogImageUrl" [src]="dogImageUrl" alt="Image Not Found" />
    </div>
  </div> -->